#header {
  background: orange;
  height: 30rem;
  position: relative;
  background-image: url("./assets/me.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

h1 {
  line-height: 2.5rem;
  font-size: 2rem;
  margin: 0;
  /* padding: 0; */
}

p, ul {
  font-weight: 100;
}

h3 {
  font-weight: ld;
}

#introduction {
  padding-top: 7rem;
  padding-left: 13%;
}

#introduction h1 {
  color: white;
  font-weight: lighter;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

.star {
  float: right;
}

ul {
  list-style: none;
  padding: 0;
}

li:hover {
  background: #d0d5de;
}

li:hover .star {
  margin-right: 10px;
}

